In [3]:
%matplotlib notebook
import pandas as pd
import matplotlib.pyplot as pl

In [7]:
df = pd.read_csv('dimitris2.csv')
df.head()

   0.000  0.000.1
0  0.001      0.0
1  0.002      0.0
2  0.003      0.0
3  0.004      0.0
4  0.005      0.0

In [8]:
pl.plot(df.time, df.angle)

AttributeError: 'DataFrame' object has no attribute 'time'

In [6]:
time = df.time[(df.time>7.5) & (df.time < 18)]
angle = df.angle[(df.time>7.5) & (df.time < 18)]
pl.plot(time,angle,'b.')